backend:
  name: github
  repo: Caleb-Seely/IS-Portfolio
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

# Enable local development
local_backend: true

# Enable editorial workflow for content review
publish_mode: editorial_workflow

collections:
  - name: "projects"
    label: "Projects"
    folder: "src/content/projects"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime", date_format: "M/D/YYYY", time_format: false }
      - { label: "Featured Image", name: "image", widget: "image" }
      - { label: "Materials", name: "materials", widget: "list" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Order", name: "order", widget: "number", default: 1, required: false }
      - { label: "Project URL", name: "url", widget: "string", required: false }
      - { label: "Technologies", name: "technologies", widget: "list", required: false }
